.h1 { color: #A0522D; font-family: Snell Roundhand, cursive	; font-size: 200px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }


h2 { color: #D2B48C; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }


.p { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; columns: 3; }

ul {color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: center; }

li {color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: center; }

img {width: 800px; height: 400px; display: block; margin-left: 18%; }

.pp { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; columns: 2; width: 70%; margin-left: 15%; }

